
@{
    ViewBag.Title = "Basarisiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="">

            <div class="row">
                <div class="col-md-6">
                    <div class="main-card mb-3 card">
                        <div class="card-body"><h5 class="card-title">Başarisiz İslem!</h5>
                            <div class="alert alert-danger fade show" role="alert"><h4 class="alert-heading">Başarisiz!</h4>
                                <p>HGS Hesabiniza para yatirma islemi gerçekleştirilemedi.<b>Lütfen bilgilerinizi kontrol ederek tekrar deneyin!!</b></p>
                                <hr>
                                
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
</div>