
@{
    ViewBag.Title = "Basarili";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__outer">
<div class="app-main__inner">

    <div class="">

        <div class="row">
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">Basariyla Gerçekleştirildi!</h5>
                        <div class="alert alert-success fade show" role="alert"><h4 class="alert-heading">Başarılı!</h4>
                            <p>HGS Hesabiniza para yatirma islemi gerçekleştirildi.İyi sürüşler dileriz.<b>Lütfen Trafik Kurallarina Uyalim :)</b></p>
                            <hr>
                                
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>
</div>