@model BankaOtomasyon.Models.HGSModel
@{
    ViewBag.Title = "hgsIslemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="">

            <div class="row">
                <div class="col-md-6">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">HGS Bakiye Islemleri<div id="bakiye" class="ml-auto badge badge-pill badge-danger pull-right"></div></h5>

                            <form class="" method="post" action="">
                                <div id="ex">
                                    <div class="position-relative form-group">
                                        @if (ViewBag.message != null)
                                        {
                                            <div class="alert alert-danger fade show" role="alert">@ViewBag.message</div>
                                        }
                                        @if (ViewBag.hatamessage != null)
                                        {
                                            <div class="alert alert-danger fade show" role="alert">@ViewBag.hatamessage</div>
                                        }

                                        <hr />
                                        <div class="position-relative form-group">
                                            <label for="exampleSelect" class="">HGS Numaranız</label>
                                            @Html.EditorFor(model => model.HGSNo, new { htmlAttributes = new { @class = "mb-2 form-control", @onkeypress = "return event.charCode>= 48 &&event.charCode<= 57", @placeholder = "HGS Numarası" } })

                                        </div>
                                        <hr />
                                    </div>

                                    <button class="mt-1 btn btn-primary pull-right" type="submit">Sorgula</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>

